@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes statSlideIn {
  0% {
    max-width: 5%;
  }
  100% {
    max-width: 100%;
  }
}
/*
 -----> Fonts and colours 
*/
@font-face {
  font-family: PokemonSolid;
  src: url("./assets/fonts/pokemonsolid.ttf");
}

body {
  height: 100vh;
  background-color: #fff8e3;
}
.pokemon-text-cursive {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 700;
  letter-spacing: 5px;
}
.pokemon-text {
  font-family: "PokemonSolid", sans-serif;
  color: #ffcb05;
  letter-spacing: 5px;
  text-shadow: rgb(0, 58, 112) 2px 0px 0px,
    rgb(0, 58, 112) 1.75517px 0.958851px 0px,
    rgb(0, 58, 112) 1.0806px 1.68294px 0px,
    rgb(0, 58, 112) 0.141474px 1.99499px 0px,
    rgb(0, 58, 112) -0.832294px 1.81859px 0px,
    rgb(0, 58, 112) -1.60229px 1.19694px 0px,
    rgb(0, 58, 112) -1.97998px 0.28224px 0px,
    rgb(0, 58, 112) -1.87291px -0.701566px 0px,
    rgb(0, 58, 112) -1.30729px -1.5136px 0px,
    rgb(0, 58, 112) -0.421592px -1.95506px 0px,
    rgb(0, 58, 112) 0.567324px -1.91785px 0px,
    rgb(0, 58, 112) 1.41734px -1.41108px 0px,
    rgb(0, 58, 112) 1.92034px -0.558831px 0px;
}

/* --- Header*/
header {
  text-align: center;
  font-size: 1.5rem;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/*
 -----> Filters bar
*/
.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}
.filter-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.filter-item label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.filter-item input,
.filter-item select {
  width: 10rem;
  padding: 0.3rem;
  font-family: 700;
  border: 2px solid #6e6e6e;
  border-radius: 15px;
}

.filter-item select {
  cursor: pointer;
}
.filter-item input:focus,
.filter-item select:focus,
.filter-item input:hover,
.filter-item select:hover {
  border: 2px solid #6e6e6e;
  outline: none;
}

.pokemon-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
/*
 -----> Pokemons Grid 
*/
.pokemon-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
/*
 -----> Pokemon Card
*/

.pokemon-card {
  min-width: 200px;
  height: 318px;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  align-items: center;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.pokemon-id {
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
}

.pokemon-id h4 {
  position: relative;
  top: -10px;
  left: -50px;
}
.pokemon-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.sprite-container {
  width: 130px;
  height: 130px;
}

.pokemon-sprite {
  width: 130px;
}

.type-span {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  color: #e9ecef;
  background-color: #ffcb05;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 4px;
  box-shadow: inset 0px 0px 4px #3c3636;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px,
    rgb(0, 0, 0) -0.416147px 0.909297px 0px,
    rgb(0, 0, 0) -0.989992px 0.14112px 0px,
    rgb(0, 0, 0) -0.653644px -0.756802px 0px,
    rgb(0, 0, 0) 0.283662px -0.958924px 0px,
    rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}
/*
 --- Button
*/
.btn {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #ffcb05;
  background-color: rgb(0, 58, 112);
  padding: 0 4rem;
  border: none;
  border-radius: 20px;
  line-height: 3em;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:first-of-type {
  margin-bottom: 2rem;
}
.btn:hover {
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.5);
  background-color: #00c7ec;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.btn:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.btn:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@-webkit-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@-moz-keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

/* ---> Modal CSS */
@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.modal-container {
  height: calc(100vh - 70px);
  max-height: 615px;
  width: 65%;
  max-width: 960px;
  margin: auto;
  overflow-y: scroll;
  border-radius: 1rem;
  padding: 1rem;
  position: relative;
  display: flex;
  gap: 1.5rem;
  animation: dropDown 0.4s ease-in-out;
}

.left-panel-info {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-genera {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  color: #e9ecef;
}
.pokemon-dimensions {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  color: #e9ecef;
}

.pokemon-description {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 20px;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  color: #e9ecef;
}

.right-panel {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.pokemon-stats {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 20px;
}

.stat-name {
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  color: #e9ecef;
}

.stats-section {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.stats-container {
  background-color: #a7a7a7;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.stats-section h6 {
  width: 15%;
}

.stat-bar {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 700;
  font-size: 0.8rem;
  min-width: 5%;
  animation: statSlideIn 3.5s ease-in-out;
}
.pokemon-evolutions {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 0;
}

.evolutions-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.evolution-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.evolution-column.more-items {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.evolution-arrow {
  margin-right: 0;
  font-size: 4rem;
  color: #d5d5d5;
  text-shadow: 2px 2px 5px #3c3636;
  display: flex;
  align-items: center;
}

.evolution-column,
.evolution-arrow {
  animation: fadeIn 1s ease-in-out;
}

.evolution-child {
  background-color: rgba(221, 221, 221, 0.5);
  border-radius: 50%;
  padding: 15px;
  margin: 7px 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.evolution-child:hover {
  transform: scale(1.1);
}

.evolution-child-spire-container,
.evolution-sprite {
  width: 100px;
  height: 100px;
}

.two-items .evolution-child-spire-container,
.two-items .evolution-sprite {
  width: 70px;
  height: 70px;
}

.more-items .evolution-child-spire-container,
.more-items .evolution-sprite {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 796px) {
  .modal-container {
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
}
